*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    background: #000;
    color: #fff;
}

.wrapper{
    height: 100%;
}

.subwrapper{
    height: 100%;
    display: flex;
}

#input{
    position: relative;
    width: 50%;
    height: 100%;
    background: rgba(13, 110, 255, 0.3);
    overflow: auto;
}

#output{
    position: relative;
    width: 50%;
    height: 100%;
    background: rgba(130, 20, 255, 0.3);
    overflow: auto;
}

.size-card{
    position: fixed;
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    padding: 10px;
    opacity: 0;
    z-index: 100;
}

.actions{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    bottom: 0;
    background: rgb(0, 0, 0);
}

.open{
    /* width: 120px;
    height: 30px; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    /* border: 2px solid rgb(221, 221, 221); */
    color: rgb(221, 221, 221);
    /* border-radius: 13px; */
    margin: 0 20px;
    cursor: pointer;
}

.open:first-child{
    line-height: 30px;
}

#type{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: 0 20px;
}

#factor{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: 0 20px;
    text-align: center;
    width: 100px;
}

#loader, #loader:after {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
#loader {
    opacity: 0;
    position: absolute;
    right: 15px;
    top: 12px;
    border-top: 3px solid rgba(255, 255, 255, 0.2);
    border-right: 3px solid rgba(255, 255, 255, 0.2);
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
    border-left: 3px solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}